main{
    min-height: calc(100vh - 130px);
    display: flex;
    justify-content: center;
}
.wrap{
    max-width: 1320px;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}
@media screen and (max-width: 710px) {
    .wrap{
      margin-top: 0;
    }
  }
/* .router-link-exact-active{
    background-color: #FDDEDE;
} */
.bgc-pink{
    background-color: #FACECE;
}
.bgc-blue{
    background-color: #BAE2F1;
}
.c-brown{
    color: #684242;
}
.c-blue{
    color: #1C2866;
}
.d-shadow{
    filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.6));
}